<app-navbar></app-navbar>

<section id="login">
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <div class="login-form">
        <h2 class="fw-semibold">Login</h2>
        <p class="text-secondary">Stay updated on your professional world</p>
        <app-login-form></app-login-form>
        <p class="p-0 mt-3">
          Dont have an account?
          <a
            class="text-primary text-decoration-none"
            routerLink="/registration"
          >
            Register
          </a>
        </p>
      </div>
    </div>
  </div>
</section>