<h1>XYZ CARS</h1>

<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/car-sale" class="nav-link">Sale</a>
          </li> 
          <li class="nav-item">
            <!-- <a routerLink="/cardetail" class="nav-link">Detail</a> -->
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

    <div class="hero-banner text-center">
        <img src="https://assets.mitsubishi-motors.co.id/products/colors/1627575723-pajero-4x4-greypng.png">
    </div>

    <div class="hero-detail">
        <p>Nullam quis risus eget vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.Nullam quis risus eget vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.Nullam quis risus eget vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quaerat voluptatibus mollitia minima quo facilis, ipsam dolorum totam corrupti id! Delectus atque voluptatem eligendi aspernatur magnam perspiciatis fuga debitis at!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic cum aspernatur blanditiis corrupti. Facere voluptatum qui delectus aspernatur vero, eaque ratione corrupti libero temporibus accusamus tenetur hic, officia in minima!</p>
    </div>

    <br>
    <br>
    <br>

    <figure class="text-center">
        <blockquote class="blockquote">
          <p class="mb-0">Car choice, it is so personal, non? You pick a car and it tells me who you are</p>

        </blockquote>
        <figcaption class="blockquote-footer">
          Chamber
        </figcaption>
  </figure>
