<app-navbar></app-navbar>

<section id="forgot-password">
  <div class="container mt-5">
    <div class="d-flex justify-content-center">
      <div class="forgot-password-form d-flex flex-column text-center">
        <i class="fa-solid fa-lock"></i>
        <h2 class="fw-semibold">Forgot Password</h2>
        <p class="mb-3 text-secondary">
          Enter your email and we'll send you a link to reset your password
        </p>
        <form
          class="d-flex flex-column"
          name="form"
          (ngSubmit)="forgotPasswordForm.form.valid && onResetPassword()"
          #forgotPasswordForm="ngForm"
          novalidate
        >
          <div class="form-group">
            <input
              class="form-control"
              type="text"
              placeholder="Enter your email"
              [(ngModel)]="userInputEmail"
              [ngModelOptions]="{ standalone: true }"
              [ngClass]="{
                'is-invalid': forgotPasswordForm.submitted && email.invalid
              }"
              #email="ngModel"
              required
              email
            />
            <!-- Error Message -->
            <div
              *ngIf="forgotPasswordForm.submitted && email.invalid"
              class="invalid-feedback text-start"
            >
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>