<app-navbar></app-navbar>

<section id="search-users">
  <div class="container d-flex flex-column">
    <div class="heading mt-4">
      <h2 class="fw-semibold">Search User</h2>
    </div>
    <form class="search-user-form d-flex">
      <input type="text" id="search-user" placeholder="Search" />
      <button type="button" class="btn btn-outline-secondary btn-search">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <!-- Search Result -->
    <div id="search-results" class="mt-5">
      <div
        class="result d-flex pb-3 pt-3"
        *ngFor="let user of userData"
        routerLink="/profile/{{ user.id }}/{{ user.firstName }}"
      >
        <div class="image me-3">
          <img src="{{ user.picture }}" alt="" />
        </div>
        <div class="detail">
          <p class="name">{{ user.firstName }} {{ user.lastName }}</p>
          <p class="address text-secondary">
            {{ user.country }}, {{ user.city }}
          </p>
          <p class="company text-secondary">
            <i class="fa-solid fa-building"></i> {{ user.company }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>